a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(2deg);
}

.section-products #product-1 .part-1::before {
    background: url("IMG/edc50f58129041be80b2ae29011a3119_9366.webp") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("IMG/8014a1577b0a40169145ae84000ed8a4_9366.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("IMG/07dbfe862d9e4028b4f7ae6f012729a5_9366.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("IMG/4aaf69b89911407ab240ae6d0167a4ea_9366.webp") no-repeat center;
    background-size: cover;
}
.section-products #product-5 .part-1::before {
    background: url("IMG/598eb8bb207444f899e9ae24002cd784_9366.webp") no-repeat center;
    background-size: cover;
}
.section-products #product-6 .part-1::before {
    background: url("IMG/754c1560897e42cdbdc3ae1900c6fb38_9366.webp") no-repeat center;
    background-size: cover;
}
.section-products #product-7 .part-1::before {
    background: url("IMG/6fb6f5b14bf3453a9644ae9400e4c0ee_9366.webp") no-repeat center;
    background-size: cover;
}
.section-products #product-8 .part-1::before {
    background: url("IMG/798d3061f5934cd1983bade800a7f2dd_9366.webp") no-repeat center;
    background-size: cover;
}
.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}
.dropdown-menu
{
    z-index: 100;
}